<app-header titulo="Informacion"></app-header>
<ion-content>

  <h1 class="ion-text-center">Nuestro Destino</h1>
  <h2 class="ion-text-center">Más Visitado</h2>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Paris</ion-card-subtitle>
      <ion-card-title>Francia</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/paris.jpg"></ion-img>
    <ion-card-content class="ion-text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet assumenda impedit eligendi quibusdam, officiis ipsum asperiores repellat quas, nihil omnis blanditiis possimus praesentium odit alias, rem iste! Rerum, debitis inventore.
    </ion-card-content>
  </ion-card>

  <ion-row class="top-20">
    <ion-col>
      <ion-button  expand="full" routerLink="/avatar" color="primary">
        Reservar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button  expand="full" routerLink="/action-sheet" color="tertiary">
        Ver vuelos
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
