<app-header titulo="Viajaste"></app-header>

<ion-content>
  
  <h1 class="marginbot" class="ion-text-center">Bienvenido a Viajaste</h1>

    <ion-card color="light">
      <ion-item color="primary">
        <ion-icon slot="start" color="dark" name="location"></ion-icon>
        <ion-label>¿Qué es Viajaste?</ion-label>
      </ion-item>
      <ion-card-content class="ion-text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet assumenda impedit eligendi quibusdam, officiis ipsum asperiores repellat quas, nihil omnis blanditiis possimus praesentium odit alias, rem iste! Rerum, debitis inventore.
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>Burj Khalifa</ion-card-subtitle>
        <ion-card-title>Dubai</ion-card-title>
      </ion-card-header>
      <ion-img src="/assets/dubai.jpg"></ion-img>
      <ion-card-content class="ion-text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet assumenda impedit eligendi quibusdam, officiis ipsum asperiores repellat quas, nihil omnis blanditiis possimus praesentium odit alias, rem iste! Rerum, debitis inventore.
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>El Cairo</ion-card-subtitle>
        <ion-card-title>Egipto</ion-card-title>
      </ion-card-header>
      <ion-img src="/assets/egipto.jpg"></ion-img>
      <ion-card-content class="ion-text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet assumenda impedit eligendi quibusdam, officiis ipsum asperiores repellat quas, nihil omnis blanditiis possimus praesentium odit alias, rem iste! Rerum, debitis inventore.
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>La Ciudad de Panamá</ion-card-subtitle>
        <ion-card-title>Panamá</ion-card-title>
      </ion-card-header>
      <ion-img src="/assets/panama.jpg"></ion-img>
      <ion-card-content class="ion-text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet assumenda impedit eligendi quibusdam, officiis ipsum asperiores repellat quas, nihil omnis blanditiis possimus praesentium odit alias, rem iste! Rerum, debitis inventore.
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" size="default" class="ion-margin-bottom" routerLink="/informacion" >Descubre mas</ion-button>


</ion-content>
